.ListsEnter {
	opacity: 0;
}

.ListsOpen {
	animation: openLists 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.ListsClose {
	animation: closeLists 1.1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes openLists {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes closeLists {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateX(-80%);
	}
}

#lists-nav.collapsed {
	width: 55px;
	overflow: hidden;
}

#lists-nav.collapsed .lists-nav-searchbar,
#lists-nav.collapsed .lists-nav-searchbar-focustoggle,
#lists-nav.collapsed .lists-nav-displayname,
#lists-nav.collapsed .lists-nav-lists {
	display: none;
	opacity: 0;
}

button.btn-list-drawer {
	background: none;
	margin: 0;
	padding: 0;
	border: none;
    cursor: pointer;
	color: #111 ;
}

button.btn-list-drawer:hover {
	color: #fff ;
	background-color: dodgerblue;
}